input{
    width: 500px;
    height: 30px;
    display: block;
    margin: auto;
}

#container{
    width: 505px;
    height: 500px;
    /* border: 1px solid red; */
    margin: auto;
    overflow: auto;
}

.movies{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: whitesmoke;
    cursor: pointer;
}

.movies > img{
    width: 100px;
    height: 100px;
}

body{
    background-color: #131927;
}

body > h1{
    text-align: center;
    color: white;
}

#poster{
    /* border: 1px solid red; */
    width: 500px;
    /* width: 70%;
    margin: auto;
    margin-top: 50px; */
}

#details{
    /* border: 1px solid red; */
    width: 600px;
}

#cont{
    border: 3px solid white;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#details > h1{
    color: white;
    text-align: center;
    
}

h4{
    color: white;
    text-align: center;
}

#poster > img{
    width: 100%;
}

#details> p{
    color: white;
    text-align: center;
}

#trending{
    text-align: start;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    width: 130px;
    padding: 15px;
}

a{
    text-decoration: none;
    color: white;
}