#container {
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,auto);
    gap: 20px;
}

#container > div {
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

body {
    background-color: whitesmoke;
}